<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/crmp-dbmodel"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.actico.crmp.publishing.StartGeneration"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="crmp-dbmodel"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="C:\work\scm\crmp\crmp-assemblies\crmp-dbmodel\src\test\resources\publishing_generation\Publishing_EXTERNAL_V1.xlsx&#13;&#10;MSSQL;ORACLE;H2;MYSQL&#13;&#10;&quot;C:\dev\workspaces\vr-8.1-crmp\CRMP Database Model&quot;&#13;&#10;30&#13;&#10;CRMP_P_&#13;&#10;false"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="crmp-dbmodel"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
</launchConfiguration>
